.first {
    transform: rotate(0deg);
    transform-origin: bottom right;
}

@keyframes animation {
  25% {
    left: 0;
  }
  50% {
    top: 50%;
  }
  75% {
    right: 0;
  }
  100% {
    bottom: 50%;
  }
}
